form{
    width: 50%;
    margin: auto;
}
.contact .box-container h1{
    color: #001235;
    font-size: 42px;
    font-weight: 600;
}
.contact .box-container form{
    padding: 2rem;
    background-color: #ad11001e;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.30), 0 3px 10px rgba(0, 0, 0, 0.30);
}
.contact .box-container form .input-field{
    position: relative;
}
.contact .box-container form .input-field input{
    width: 50%;
    margin: 3.5rem 0;
    padding: 1rem 0;
    border: none;
    border-bottom: 0.2rem solid #0012353d;
    font-size: 1rem;
    text-transform: none;
    outline: none;
}
input{
    background-color: #00123500;
}
.input-field{
    margin-bottom: -3rem;
}
.contact .box-container form .input-field input:focus{
    border-color: var(--red);
}
label{
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    left: 0;
}
.input-field input:focus ~ label{
    top: -.2rem;
    font-size: 1.5rem;
    color: var(--red);
}
input[type="submit"]{
    border: none;
}
.submit{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #001235;
    color: #fff;
}